<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework 5 Course</title>
<style>
    table, th, td, tr{
        border: 2px solid black;
    }
    span{
        margin-left: 5px;
    }
</style>
</head>
<body>
<h1>Author List</h1>
<table >
    <tr>
        <th>ID</th>
        <th>FIRSTNAME</th>
        <th>LASTNAME</th>
        <th>BOOKS</th>
    </tr>
    <tr th:each="author:${authors}">
        <td th:each="auth : ${authorStat.current}">
        <span th:text="${auth}"></span>
        </td>
    </tr>
</table>
</body>
</html>