<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework 5 Course</title>
<style>
    table, th, td, tr{
        border: 2px solid black;
    }
</style>
</head>
<body>
<h1>Book List</h1>
<table >
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>PUBLISHER</th>
        <th>AUTHOR</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:each="current : ${bookStat.current}">
            <span th:text="${current}"></span>
        </td>
    </tr>
</table>
</body>
</html>